[submodule "Mastering-Python-for-Networking-and-Security"]
	path = Mastering-Python-for-Networking-and-Security
	url = https://github.com/PacktPublishing/Mastering-Python-for-Networking-and-Security.git
[submodule "Go-Systems-Programming"]
	path = Go-Systems-Programming
	url = https://github.com/PacktPublishing/Go-Systems-Programming
[submodule "Extreme-C"]
	path = Extreme-C
	url = https://github.com/PacktPublishing/Extreme-C.git
[submodule "Hands-on-System-Programming-with-Linux"]
	path = Hands-on-System-Programming-with-Linux
	url = https://github.com/PacktPublishing/Hands-on-System-Programming-with-Linux.git
[submodule "Hands-On-Network-Programming-with-C"]
	path = Hands-On-Network-Programming-with-C
	url = https://github.com/codeplea/Hands-On-Network-Programming-with-C.git
