[submodule "Mastering-Python-for-Networking-and-Security"]
	path = Mastering-Python-for-Networking-and-Security
	url = https://github.com/PacktPublishing/Mastering-Python-for-Networking-and-Security.git
[submodule "Go-Systems-Programming"]
	path = Go-Systems-Programming
	url = https://github.com/PacktPublishing/Go-Systems-Programming
[submodule "Extreme-C"]
	path = Extreme-C
	url = https://github.com/PacktPublishing/Extreme-C.git
[submodule "Hands-on-System-Programming-with-Linux"]
	path = Hands-on-System-Programming-with-Linux
	url = https://github.com/PacktPublishing/Hands-on-System-Programming-with-Linux.git
[submodule "Hands-On-Network-Programming-with-C"]
	path = Hands-On-Network-Programming-with-C
	url = https://github.com/codeplea/Hands-On-Network-Programming-with-C.git
[submodule "Building-Cross-Platform-GUI-Applications-with-Fyne"]
	path = Building-Cross-Platform-GUI-Applications-with-Fyne
	url = https://github.com/PacktPublishing/Building-Cross-Platform-GUI-Applications-with-Fyne.git
[submodule "C-Programming-for-Linux-Systems"]
	path = C-Programming-for-Linux-Systems
	url = https://github.com/PacktPublishing/C-Programming-for-Linux-Systems.git
[submodule "Data-Structures-and-Algorithms-with-the-CPP-STL"]
	path = Data-Structures-and-Algorithms-with-the-CPP-STL
	url = https://github.com/PacktPublishing/Data-Structures-and-Algorithms-with-the-CPP-STL.git
[submodule "Mastering-Go--Fourth-Edition"]
	path = Mastering-Go--Fourth-Edition
	url = https://github.com/mactsouk/mGo4th.git
[submodule "Learn-C++-by-Example"]
	path = Learn-C++-by-Example
	url = https://github.com/doctorlove/BootstrapCpp.git
[submodule "Clang-Compiler-Frontend-Packt"]
	path = Clang-Compiler-Frontend-Packt
	url = https://github.com/PacktPublishing/Clang-Compiler-Frontend-Packt.git
[submodule "Build-an-Orchestrator-in-Go"]
	path = Build-an-Orchestrator-in-Go
	url = https://github.com/buildorchestratoringo/code.git
[submodule "Professional-C++-6th-Edition"]
	path = Professional-C++-6th-Edition
	url = https://github.com/Professional-CPP/edition-6.git
[submodule "Asynchronous-Programming-with-CPP"]
	path = Asynchronous-Programming-with-CPP
	url = https://github.com/PacktPublishing/Asynchronous-Programming-with-CPP.git
[submodule "Learn-React-with-TypeScript-Third-Edition"]
	path = Learn-React-with-TypeScript-Third-Edition
	url = https://github.com/PacktPublishing/Learn-React-with-TypeScript-Third-Edition.git
[submodule "Godot-4-for-Beginners"]
	path = Godot-4-for-Beginners
	url = https://github.com/PacktPublishing/Godot-4-for-Beginners.git
[submodule "modern-css"]
	path = modern-css
	url = https://github.com/Apress/modern-css.git
